<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="rcptask.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="rcptask.Perspective"
            name="RCP Perspective"
            id="RCPTask.perspective">
      </perspective>
   </extension>
      <extension
         point="org.eclipse.ui.views">
      <view
            name="Tree"
            allowMultiple="true"
            icon="icons/eclipse16.png"
            class="rcptask.viewpac.NavigationView"
            id="rcptask.viewpac.navigationView">
      </view>
   </extension>
      <extension
            point="org.eclipse.ui.editors">
         <editor
               class="rcptask.editor.StudentEditor"
               default="false"
               icon="icons/eclipse16.png"
               id="rcptask.editor.studentEditor"
               name="StudEditor">
         </editor>
      </extension>
      <extension
            point="org.eclipse.ui.commands">
         <command
               defaultHandler="rcptask.command.StudentCommand"
               id="rcptask.command.studentCommand"
               name="OpenStudentEditor">
         </command>
         <command
               defaultHandler="rcptask.command.OpenCommand"
               id="rcptask.command.openCommand"
               name="OpenCommand">
         </command>
         <command
               defaultHandler="rcptask.command.AboutCommand"
               id="rcptask.command.aboutCommand"
               name="AboutCommand">
         </command>
         <command
               defaultHandler="rcptask.command.DeleteCommand"
               id="rcptask.command.deleteCommand"
               name="DeleteCommand">
         </command>
      </extension>
      <extension
            point="org.eclipse.ui.menus">
         <menuContribution
               allPopups="false"
               locationURI="menu:org.eclipse.ui.main.menu">
            <menu
                  label="File">
               <command
                     commandId="rcptask.command.openCommand"
                     icon="icons/folder.png"
                     label="Open"
                     style="push">
               </command>
               <command
                     commandId="org.eclipse.ui.file.save"
                     icon="icons/disk.png"
                     label="Save"
                     style="push"
                     tooltip="Save student">
               </command>
               <separator
                     name="separator"
                     visible="true">
               </separator>
               <command
                     commandId="org.eclipse.ui.file.exit"
                     label="Exit"
                     style="push">
               </command>
            </menu>
            <menu
                  label="Edit">
               <command
                     commandId="rcptask.command.studentCommand"
                     icon="icons/add.png"
                     label="Add"
                     style="push">
               </command>
               <command
                     commandId="rcptask.command.deleteCommand"
                     icon="icons/bin_closed.png"
                     label="Delete"
                     style="push"
                     tooltip="Delete student">
               </command>
            </menu>
            <menu
                  label="Help">
               <command
                     commandId="rcptask.command.aboutCommand"
                     icon="icons/help.png"
                     label="About"
                     style="push">
               </command>
            </menu>
         </menuContribution>
         <menuContribution
               allPopups="false"
               locationURI="toolbar:org.eclipse.ui.main.toolbar">
            <toolbar
                  id="toolbar">
               <command
                     commandId="rcptask.command.openCommand"
                     icon="icons/folder.png"
                     label="Open"
                     style="push"
                     tooltip="Open new File">
               </command>
               <command
                     commandId="org.eclipse.ui.file.save"
                     icon="icons/disk.png"
                     label="Save"
                     style="push"
                     tooltip="Save student">
               </command>
               <command
                     commandId="rcptask.command.deleteCommand"
                     icon="icons/bin_closed.png"
                     label="Delete"
                     style="push"
                     tooltip="Delete student">
               </command>
               <command
                     commandId="rcptask.command.studentCommand"
                     icon="icons/add.png"
                     label="Add"
                     style="push">
               </command>
            </toolbar>
         </menuContribution>
      </extension>
      

</plugin>
